#cuerpo{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
form {
    width: 80em;
    min-height: 15em;

    margin-top: 5em;

    background-color: goldenrod;
    border: 2px solid black;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 1em;
}

form h3 {
    font-size: 2.5em;
    font-weight: bolder;
    width: 20em;
    text-align: center;

    margin: 1em 0 2em 0;
}

form input[type="number"] {
    width: 40em;
    min-height: 2em;
    border: 2px solid brown;
}

form input[type="submit"] {
    margin-left: 2em;
    padding: .7em 2em .7em 2em;

    border-radius: 25%;
    border: 2px solid brown;
    font-size: 1.3em;
}

#resultado {
    font-size: 1.5em;
    font-weight: bolder;

    margin: 2em 0 2em 0;

    padding: .3em;
}
